nltk
matplotlib
mmh3
PyStanfordDependencies
cython
future
JPype1
beautifulsoup4
num2words
tqdm
spacy
pandas
numpy
scikit-learn
bert-tensorflow
spacy>=2.2.1
compress_pickle
bert-serving-client
bert-serving-server
bert-tensorflow==1.0.1
tensorflow-hub
tensorflow<2