nltk
matplotlib
mmh3
PyStanfordDependencies
Cython==0.29.14
future
JPype1==0.7.0
beautifulsoup4
num2words
tqdm
spacy
pandas
numpy==1.17.4
scikit-learn
bert-tensorflow
spacy>=2.2.1
compress_pickle
bert-serving-client
bert-serving-server
bert-tensorflow==1.0.1
tensorflow-hub
tensorflow<2